* {
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

body.dark {
  background-color: #000;
  background-blend-mode: luminosity;
}
body.dark .nav-icon .icon-image path {
  fill: gray;
}
body.dark .nav-icon:hover .icon-image path {
  fill: var(--green-color);
}
body.dark .change-theme-btn {
  background-color: #fff;
  color: #000;
}
body.dark .form-wrapper {
  color: #fff;
  background-color: gray;
}
body.dark .form-wrapper .text-input {
  background-color: #000;
}
body.dark .form-wrapper .form-brake-line {
  color: #fff;
}
body.dark .form-link:hover {
  color: #01813f;
}